.bottom-menu-bar__small{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: 100%;
    background: #2b2b2b;
    transition: opacity 0.2s ease;
}

.bottom-menu-bar__small__links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bottom-menu-bar__small__links__link{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    padding: 0.5rem;
    border-top: 3px solid #2b2b2b;
    color: #ffae00;
}

.bottom-menu-bar__small__links a.active{
    border-top: 3px solid #ffae00;
}

.bottom-menu-bar__small__links__link__title{
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (min-width:768px) {
    .bottom-menu-bar__small{
        display: none;
    }
}