.prop{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid #ffae00;
    background: #2b2b2b;
    border-radius: 10px;
    padding: 1rem;
    color: #ffffff;
}

.prop__img{
    width: 32px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.prop__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #ffae00;
}

.prop__header__to-user{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.prop__header__to-user__name,
.prop__body__message__sender__name{
    font-weight: 700;
}

.prop__header__points{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.prop__header__points__number{
    color: #ffae00;
}

.prop__body{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #ffae00;
}

.prop__body__message__title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.prop__body__message__description{
    padding: 0.5rem;
    border: 2px solid #ffae00;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.prop__body__hashtags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.prop__body__hashtags__title{
    display: flex;
    gap: 0.1rem;
}

.prop__body__hashtags span{
    color: #ffae00;
}

.prop__footer{
    display: flex;
    justify-content: flex-end;
}

.prop__footer__date-of-creation{
    font-size: 0.8rem;
    font-weight: 400;
}

