.rewards-page__layout {
  display: flex;
}

.rewards-page {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
}


.rewards-page__all-rewards {
  grid-area: 1 / 1 / 2 / 3;
  border-right: 2px solid #ffae00;
  display: flex;
  flex-direction: column;
}

.rewards-page__all-rewards__header {
  position: sticky;
  top: 0;
  background: #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.rewards-page__all-rewards__header__title {
  color: #ffae00;
  line-height: 1;
  font-size: 2.5rem;
}

.rewards-page__all-rewards__header__reedem-points {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.rewards-page__all-rewards__header__reedem-points__count {
  color: #ffae00;
  line-height: 1.3;
}

.rewards-page__all-rewards__list {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.rewards-page__my-rewards,
.rewards-page__all-rewards {
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rewards-page__all-rewards::-webkit-scrollbar,
.rewards-page__my-rewards::-webkit-scrollbar {
  display: none;
}

.rewards-page__my-rewards {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.rewards-page__my-rewards__header{
  padding: 1rem;
  border-radius: 1rem;
  line-height: 1.3;
  width: fit-content;
  align-self: center;
}