.login-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.login-page__heading{
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
    text-align: center;
    color:#ffae00;
}

@media screen and (min-width:1024px) {
    .login-page__heading{
        font-size: 7rem;
    }
}