.landing-page{
    display: flex;
    padding: 1rem;
}

.landing-page__props{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.landing-page__props__pagination{
    display: flex;
    gap: 3rem;
}

.landing-page__props__pagination__button{
    background: -webkit-linear-gradient(right,violet, #00d1ff);
}