.input-form-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    width: 100%;
}

.input-form-field__input{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #000000;
}

.red-border-bottom{
    border-bottom: 1px solid #ff0000;
  }