:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: #3a3a3a;
}

h1 {
  font-size: 3.2em;
}

input:focus,
input:focus-visible{
  outline: none;
}

.full-width{
  width: 100%;
}

.hidden{
  opacity: 0;
}

.show{
  display: block;
}



